-e git+https://github.com/limodou/uliweb#egg=uliweb
-e git+https://github.com/uliwebext/uliweb-ui#egg=uliweb_ui
-e git+https://github.com/uliwebext/uliweb-layout#egg=uliweb_layout
-e git+https://github.com/uliwebext/uliweb-menu#egg=uliweb_menu
-e git+https://github.com/limodou/uliweb-apps#egg=uliweb_apps
-e git+https://github.com/zhangchunlin/uliweb-comapps#egg=uliweb_comapps
gevent
unqlite
#https://stackoverflow.com/questions/34631806/fail-during-installation-of-pillow-python-module-in-linux
#apt-get install libjpeg-dev
pillow
