{{include "vue/inc_mmpreview.html"}}
<script>
Vue.component('mm-month', {
    delimiters : ['{', '}'],
    props : ["id"],
    data : function(){
        return {
            list : [],
            full : false,
            more : false,
            num_more : 0,
            visible : false,
            updating : false
        }
    },
    methods : {
        become_visible:function(visible, entry){
            if (visible && (!this.visible)) {
                this.update_list()
                this.visible = true
            }
        },
        update_list:function(){
            var thisp = this
            thisp.updating = true
            $.ajax({
                type: "POST",
                url: "{{=url_for('mmmonth.views.MmMonth.api_mm')}}",
                data: {id:thisp.id,full:thisp.full},
                success: function (data) {
                    if (data.success) {
                        thisp.list = data.list
                        thisp.more = data.more
                        thisp.num_more = data.num_more
                    }
                    thisp.updating = false
                }
            })
        },
        update_full_list:function(){
            this.full = true
            this.update_list()
        }
    },
    template: `
    <span v-observe-visibility="become_visible">
        <component v-bind:is="'mm-preview-'+item.type" v-for="item in list" :id="item.id" :mimetype="item.mimetype" :filename="item.filename" :fullpath="item.full_path" :can_show="item.can_show" :hidden="item.hidden"></component> <i v-if="more" class="ivu-icon ivu-icon-more" @click="update_full_list" style="font-size: 64px;">+{num_more}</i> <i class="fa fa-refresh fa-spin" v-if="updating" style="font-size: 64px;"></i>
    </span>
    `
})
</script>
