{{extend "layout_mm.html"}}

{{block mainmenu}}
{{<< mainmenu('files')}}
{{end mainmenu}}

{{block content_main}}
{{use "ui.vue"}}
{{use "ui.iview"}}
{{use "ui.jquery_cookie"}}

{{include "vue/inc_mmpreview.html"}}
<div id="app">
<i-select v-model="select_mtype" @on-change="select_on_change" style="margin: 6px">
    <i-option v-for="item in mtype_options" :value="item.value" :key="item.value"><Icon :type="item.icon" size="30" color="blue"></Icon> {item.label}</i-option>
</i-select>
<page :total="total" :page-size="page_size" :current.sync="current" :page-size-opts="[10, 20, 50, 100]" show-sizer @on-change="page_on_change" @on-page-size-change="page_on_page_size_change"></page>
<i-table border :columns="columns_files" :data="data_files" @on-sort-change="table_on_sort_change"></i-table>
<page :total="total" :page-size="page_size" :current.sync="current" :page-size-opts="[10, 20, 50, 100]" show-sizer @on-change="page_on_change" @on-page-size-change="page_on_page_size_change"></page>
</div>
<script>
var vm = new Vue({
    el: '#app',
    delimiters: ['{', '}'],
    data: {
        columns_files : [
            {
                title: 'Filename',
                render: function(h, params){
                    return h(
                        'div',
                        [
                            h("Icon",{
                                props : {
                                    type: params.row.icon,
                                    size: "20",
                                    color: "#330066"
                                }
                            }),
                            " ",
                            h("span",
                                {
                                    attrs : {
                                        title: params.row.full_path
                                    }
                                },
                                [params.row.filename]
                            )
                        ]
                    )
                }
            },
            {
                title: 'Preview',
                render: function(h,params){
                    var mtype = params.row.mtype;
                    return h(
                        'mm-preview-'+params.row.type,
                        {
                            props : {
                                id: params.row.id,
                                mimetype: params.row.mimetype,
                                filename: params.row.filename,
                                fullpath: params.row.full_path
                            }
                        }
                    )
                }
            },
            { title: 'Create time', key: 'ctime_str', sortable: 'custom', width: "150px" },
            { title: 'Size', key: 'size', sortable: 'custom', width: "110px" },
            {
                title: 'Duplicate',
                key: 'dup',
                render: function(h,params){
                    return h(
                        'div',
                        [
                            params.row.dup,
                            " ",
                            h("mm-preview-dup",
                                {
                                    props: {
                                        sha1: params.row.sha1sum,
                                        sha1_pstr: params.row.sha1_pstr
                                    }
                                }
                            )
                        ]
                    )
                },
                sortable: 'custom',
                width: "120px"
            }
        ],
        select_mtype : parseInt($.cookie('select_mtype')) || 0,
        mtype_options : {{=mtype_options}},
        data_files : [],
        total : 0,
        page_size : parseInt($.cookie('page_size')) || 10,
        current : 1,
        sort_key : "",
        sort_order : ""
    },
    methods : {
        update_list : function(){
            $.ajax({
                type: "POST",
                url: "{{=url_for('mmfile.views.MmFile.api_list')}}",
                data: {
                    page_size:vm.page_size,
                    current:vm.current,
                    sort_key:vm.sort_key,
                    sort_order:vm.sort_order,
                    select_mtype:vm.select_mtype
                },
                success: function (data) {
                    vm.data_files = data.rows
                    vm.total = data.total
                }
            })
        },
        select_on_change : function(){
            $.cookie('select_mtype', vm.select_mtype, { path: '/mmfile' });
            vm.update_list()
        },
        page_on_change : function(){
            vm.update_list()
        },
        page_on_page_size_change : function(data) {
            vm.page_size = data
            $.cookie('page_size', vm.page_size, { path: '/mmfile' });
            vm.update_list()
        },
        table_on_sort_change : function(data) {
            vm.sort_key = data.key
            vm.sort_order = data.order
            vm.update_list()
        }
    }
})
vm.update_list()
</script>
{{end content_main}}
