<script>
Vue.component('log-bar', {
    delimiters: ['{', '}'],
    data : function(){return {
        msg : "",
        show : false
    }},
    methods: {
        showlog(){
            var thisc = this
            $.ajax({
                type: "POST",
                url: "{{=url_for('mmfile.views.api_log')}}",
                data: {},
                success: function (data) {
                    var log
                    log = data.log
                    //console.log(log)
                    if (log==null) {
                        setTimeout(thisc.showlog,5000);
                        //console.log("log null, will try after 5 secs")
                        return
                    }
                    thisc.msg = log.msg
                    if (!thisc.show) {thisc.show=true}

                    if (!log.finished) {
                        setTimeout(thisc.showlog,5);
                        //console.log("log not finished, try after 5 ms")
                    }
                    else{
                        //console.log("log finished")
                    }
                }
            })
        }
    },
    template: '<p v-if="show" class="bg-info" style="padding:8px">message: <span class="text-primary">{msg}</span></p>'
})
</script>
