<style type="text/css">
    .divlim img{max-width:100%}
</style>
<script>
Vue.component('mm-preview-filename', {
    delimiters: ['{', '}'],
    props : ["icon","filename","fullpath"],
    data : function(){
        return {
            i_icon : this.icon,
            i_filename : this.filename,
            i_fullpath : this.fullpath,
            i_modal_show : false
        }
    },
    template: `<span>
        <modal v-model="i_modal_show" :title=i_filename width=80>
            <strong>Path</strong>: {i_fullpath}
        </modal>
        <Icon :type="i_icon" size=20 color="#330066" @click="i_modal_show=true"></Icon> <span @click="i_modal_show=true">{i_filename}</span>
    </span>`
})

Vue.component('mm-preview-image', {
    delimiters: ['{', '}'],
    props : ["id","mimetype","filename","fullpath","hidden"],
    data : function(){
        return {
            url : "{{=url_for('mmfile.views.MmFile.filedown')}}?type=imgthum&id="+this.id,
            modal_full : false,
            filename : this.filename,
            //fullpath : this.fullpath,
            showhide : false,
            i_hidden : this.hidden
        }
    },
    methods : {
        set_hidden : function(hidden){
            var thisp = this
            $.ajax({
                type: "POST",
                url: "{{=url_for('mmfile.views.MmFile.api_set_hide')}}",
                data: {
                    id : thisp.id,
                    hidden : hidden
                },
                success: function (data) {
                    if (data.success) {
                        thisp.i_hidden = data.hidden
                    }
                }
            })
        }
    },
    template: `<span>
        <modal :title="filename" v-model="modal_full" class-name="vertical-center-modal" width="auto" style="text-align:center;vertical-align:middle;" class="divlim">
            <span v-on:dblclick="showhide=true">{fullpath}</span><br/>
            <img :src="url" v-if="!i_hidden" v-on:dblclick="showhide=true" style="margin: 6px;">
            <br/>
            <button @click="set_hidden(true)" v-if="showhide&&!i_hidden">hide</button>
            <button @click="set_hidden(false)" v-if="showhide&&i_hidden">unhide</button>
        </modal>
        <img :src="url" width="256" @click="modal_full=true" style="margin: 6px;">
    </span>`
})

Vue.component('mm-preview-audio', {
    delimiters: ['{', '}'],
    props : ["id","mimetype","fullpath"],
    data : function(){
        return {
            url : "{{=url_for('mmfile.views.MmFile.filedown')}}?id="+this.id,
            type : this.mimetype,
            mouse_over_media : false,
            mouse_over_button : false,
            show_button : false,

            modal_full : false
        }
    },
    methods : {
        enter_media : function(event){
            this.mouse_over_media = true
            this.update_show_button()
        },
        out_media: function(event){
            var thisp = this
            thisp.mouse_over_media = false
            setTimeout(function(){
                thisp.update_show_button()
            }, 1000);
        },
        enter_button : function(event){
            this.mouse_over_button = true
            this.update_show_button()
        },
        out_button: function(event){
            var thisp = this
            thisp.mouse_over_button = false
            setTimeout(function(){
                thisp.update_show_button()
            }, 1000);
        },
        update_show_button : function(){
            this.show_button = this.mouse_over_media || this.mouse_over_button
        }
    },
    template: `<span>
    <modal :title="filename" v-model="modal_full" class-name="vertical-center-modal" width="auto" style="text-align:center;vertical-align:middle;" class="divlim">
        <span>{fullpath}</span><br/>
        <audio v-if="modal_full" controls="controls" data-container="body" data-toggle="popover" data-placement="right"><source :src="url" :type="type" />Your browser does  not support this audio format.
        </audio>
    </modal>
    <audio controls="controls" data-container="body" data-toggle="popover" data-placement="right" v-on:mouseover="enter_media" v-on:mouseleave="out_media"><source :src="url" :type="type" />Your browser does  not support this audio format.
    </audio>
    <span v-show="show_button" style="position:absolute; opacity:0.8; z-index:999;" v-on:mouseover="enter_button" v-on:mouseleave="out_button"><Button type="info" shape="circle" icon="ios-eye" size="small" @click="modal_full=true" >View</Button></span>
    </span>`
})

Vue.component('mm-preview-video', {
    delimiters: ['{', '}'],
    props : ["id","mimetype","can_show","fullpath"],
    data : function(){
        return {
            url : "{{=url_for('mmfile.views.MmFile.filedown')}}?id="+this.id,
            type : this.mimetype,
            id : this.id,
            can_show : this.can_show,
            preview_url: "{{=url_for('mmfile.views.MmFile.video_preview')}}?id="+this.id,

            mouse_over_media : false,
            mouse_over_button : false,
            show_button : false,

            modal_full : false

        }
    },
    methods : {
        open : function(){
            var thisp = this
            $.ajax({
                type: "POST",
                url: "{{=url_for('mmfile.views.MmFile.api_open_video')}}",
                data: {
                    id:thisp.id
                },
            })
        },

        enter_media : function(event){
            this.mouse_over_media = true
            this.update_show_button()
        },
        out_media: function(event){
            var thisp = this
            thisp.mouse_over_media = false
            setTimeout(function(){
                thisp.update_show_button()
            }, 1000);
        },
        enter_button : function(event){
            this.mouse_over_button = true
            this.update_show_button()
        },
        out_button: function(event){
            var thisp = this
            thisp.mouse_over_button = false
            setTimeout(function(){
                thisp.update_show_button()
            }, 1000);
        },
        update_show_button : function(){
            this.show_button = this.mouse_over_media || this.mouse_over_button
        }
    },
    template: `<span>
        <modal :title="filename" v-model="modal_full" class-name="vertical-center-modal" width="auto" style="text-align:center;vertical-align:middle;" class="divlim">
            <span>{fullpath}</span><br/>
            <video v-if="modal_full" controls="controls" width="256"><source :src="url" :type="type" />
            Your browser does  not support this video tag.
            </video>
        </modal>

        <video v-on:mouseover="enter_media" v-on:mouseleave="out_media" v-if="can_show" controls="controls" width="256"><source :src="url" :type="type" />
            Your browser does  not support this video tag.
        </video>
        <span v-show="show_button" style="position:absolute; opacity:0.8; z-index:999;" v-on:mouseover="enter_button" v-on:mouseleave="out_button"><Button type="info" shape="circle" icon="ios-eye" size="small" @click="modal_full=true" style="left:100px">View</Button></span>
        <img v-if="!can_show" :src="preview_url" @click="open" width="256" style="margin: 6px;"></img>
    </span>`
})

Vue.component('mm-preview-dup', {
    delimiters: ['{', '}'],
    props : ["sha1","sha1_pstr"],
    data : function(){
        return {
            sha1 : this.sha1,
            sha1_pstr : this.sha1_pstr,
            title : "file(s) with same sha1: "+this.sha1,
            list : [],
            modal_show : false
        }
    },
    methods : {
        show : function() {
            var thisp = this
            $.ajax({
                type: "POST",
                url: "{{=url_for('mmfile.views.MmFile.api_files')}}",
                data: {
                    sha1 : thisp.sha1
                },
                success: function (data) {
                    thisp.list = data.list
                    thisp.modal_show = true
                }
            })
        }
    },
    template: `<span style="color:#C0C0C0">
        <modal v-model="modal_show" :title=title>
            <li v-for="i in list">
              { i.full_path }
            </li>
        </modal>
        <span @click="show">{sha1_pstr}</span>
    </span>`
})
</script>
