<style type="text/css">
    .divlim img{max-width:100%}
</style>
<script>
Vue.component('mm-preview-image', {
    delimiters: ['{', '}'],
    props : ["id","mimetype","filename","fullpath"],
    data : function(){
        return {
            url : "{{=url_for('mmfile.views.MmFile.filedown')}}?type=imgthum&id="+this.id,
            modal_full : false,
            filename : this.filename,
            fullpath : this.fullpath
        }
    },
    template: `<span>
        <modal :title="filename" v-model="modal_full" class-name="vertical-center-modal" width="auto" style="text-align:center;vertical-align:middle;" class="divlim">
            {fullpath}<br/>
            <img :src="url" style="margin: 6px;">
        </modal>
        <img :src="url" width="256" @click="modal_full=true" style="margin: 6px;">
    </span>`
})

Vue.component('mm-preview-audio', {
    delimiters: ['{', '}'],
    props : ["id","mimetype"],
    data : function(){
        return {
            url : "{{=url_for('mmfile.views.MmFile.filedown')}}?id="+this.id,
            type : this.mimetype
        }
    },
    template: '<audio controls="controls"><source :src="url" :type="type" />Your browser does  not support this audio format.</audio>'
})

Vue.component('mm-preview-video', {
    delimiters: ['{', '}'],
    props : ["id","mimetype"],
    data : function(){
        return {
            url : "{{=url_for('mmfile.views.MmFile.filedown')}}?id="+this.id,
            type : this.mimetype,
            id : this.id,
            can_show : this.can_show
        }
    },
    methods : {
        open : function(){
            var thisp = this
            $.ajax({
                type: "POST",
                url: "{{=url_for('mmfile.views.MmFile.api_open_video')}}",
                data: {
                    id:thisp.id
                }
            })
        }
    },
    template: '<span><video v-if="can_show" controls="controls" width="256"><source :src="url" :type="type" />Your browser does  not support this video tag.</video> <i-button @click="open">Open</i-button></span>'
})

Vue.component('mm-preview-dup', {
    delimiters: ['{', '}'],
    props : ["sha1","sha1_pstr"],
    data : function(){
        return {
            sha1 : this.sha1,
            sha1_pstr : this.sha1_pstr,
            title : "file(s) with same sha1: "+this.sha1,
            list : [],
            modal_show : false
        }
    },
    methods : {
        show : function() {
            var thisp = this
            $.ajax({
                type: "POST",
                url: "{{=url_for('mmfile.views.MmFile.api_files')}}",
                data: {
                    sha1 : thisp.sha1
                },
                success: function (data) {
                    thisp.list = data.list
                    thisp.modal_show = true
                }
            })
        }
    },
    template: `<span style="color:#C0C0C0">
        <modal v-model="modal_show" :title=title>
            <li v-for="i in list">
              { i.full_path }
            </li>
        </modal>
        <span @click="show">{sha1_pstr}</span>
    </span>`
})

</script>
